# Пусть git игнорирует файл с названием configFile.txt
configFile.txt

# Пусть игнорируется папка temp
temp/

# Игнорирую все log-файлы (все файлы с расширением .log)
*.log

# Но конкретно файл 3.log не игнорируй
!3.log

# Игнорируй rar-файлы в корне проекте, но, например   temp/a1.rar не будет проигноирован, т.к. лежит не в корне
/*.rar
